/* Content */

.content {
  text-align: center;
  width: 100vw;
  margin: calc(40px + 1.1em) 0 0 0;
}

/* Title */

.title {
  background-color: var(--top-section-color);
  padding: 10vh 0;
}

.ml16 {
  display: inline-grid;
  grid-template-columns: 20% 20% 20% 40%;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  margin: 10vh 0;
  vertical-align: middle;
  justify-content: center;
}

.word {
  color: white;
}

.w1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.w2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;;
}

.w3 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;;
}

.profile_image {
  width: 30%;
  margin: 0 auto;
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  border-radius: 1vw;
  vertical-align: middle;

}

/* Sections */

section {
  width: 100%;
  min-height: 20vh;
  padding: 10vh 0;
  vertical-align: middle;
  text-align: center;
}

.firstSection {
  background-color: var(--section-one-color);
}

.secondSection {
  background-color: #2d2d2d;
}

.thirdSection {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  font-size: 2.4em;
  margin-bottom: 1.2em;
}

/* Section Items */

.section-item {
  padding: 0 2vh;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.techgrid {
  display: inline-grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
}

.techgrid-headers {
  width: 100%;
  padding: 0.5em;
  font-size: 2em;
  font-weight: bolder;
  color: var(--section-one-color);
  background-color: var(--top-section-color);
  border-bottom: 6px double var(--section-one-color);
}

.techgrid-items {
  width: 100%;
  padding: 0.5em 0;
  font-size: 1.5em;
}

.frameworks {
  border-left: 2px solid #555555;
  border-right: 2px solid #555555;
}

/* Stack Overflow Section*/

.stackoverflow_activity {
  width: 70vw;
  margin-top: 3vh;
}

.stackoverflowHeader {
  text-align: center;
  display: block;
  font-size: 2em;
  color: white;
}

.stackoverflowText {
  text-align: center;
  display: block;
  font-size: 1em;
  color: white;
  margin: 5vh 0;
}

.so_tag {
  color: #9cc3db;
  background-color: #3e4a52;
  border-radius: 3px;
  padding: .4em .5em;
}

/* Project List */

.project-section {
  position: relative;
  top: 0;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.project-section:hover {
  cursor: pointer;
}

.project-title {
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--section-one-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
  z-index: 3;
  position: relative;
  top: 0;
  vertical-align: top;
}

.project-image {
  height: calc(20vw - 40px);
  z-index: 2;
  position: relative;
  border-radius: 10px;
}
