:root {
  --header-section-color: #262c3c;
  --top-section-color: #333a50;
  --section-one-color: #cccccc;
}

/* Content */

.content {
  text-align: center;
  width: 100%;
  margin: calc(40px + 1.1em) 0 0 0;
}

/* Title */

.title {
  background-color: var(--top-section-color);
  padding: 10vh 0;
}

.ml16 {
  color: white;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
  margin: 10vh 0;
  width: 60vw;
  display: inline-block;
  vertical-align: middle;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.vertical-align {
  display: inline-block;
  width: 10vw;
  height: 100%;
}

.profile_image {
  display: inline-block;
  width: 100%;
  border-radius: 1vw;
  vertical-align: middle;
}

/* Sections */

section {
  width: 100%;
  min-height: 20vh;
  padding: 20vh 0;
  vertical-align: middle;
  text-align: center;
}

.firstSection {
  background: linear-gradient(0deg, #eeeeee, var(--section-one-color) 5% 95%, #eeeeee);
}

.secondSection {
  background: #2d2d2d;
}

/* Section Items */

.section-item {
  padding: 0 2vh;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.bookIcon {
  fill: #583415;
  width: 15vw;
  height: 15vw;
}

.checklist {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.checklist-item {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  align-content: center;
  color: #555555;
  font-size: 1.5em;
  text-align: left;
  flex-grow: 1;
}

.text {
  height: 50px;
  line-height: 50px;
  float: left;
  margin-left: 10px;
}

.stackoverflow_activity {
  width: 70vw;
  margin-top: 3vh;
}

.stackoverflowHeader {
  text-align: center;
  display: block;
  font-size: 2em;
  color: white;
}

.stackoverflowText {
  text-align: center;
  display: block;
  font-size: 1em;
  color: white;
  margin: 5vh 0;
}

.so_tag {
  color: #9cc3db;
  background-color: #3e4a52;
  border-radius: 3px;
  padding: .4em .5em;
}

/* Project List */

.project-section {
  position: relative;
  top: 0;
  vertical-align: top;
  display: flex;
  flex-direction: column;
}

.project-section:hover {
  cursor: pointer;
}

.project-title {
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
  background-color: var(--section-one-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1em;
  z-index: 3;
  position: relative;
  top: 0;
  vertical-align: top;
}

.project-image {
  height: calc(20vw - 40px);
  z-index: 2;
  position: relative;
  border-radius: 10px;
}

/* Socials */

.social-icons {
  text-align: center;
  margin: 5vh auto;
}

.instagram, .stackoverflow, .github {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  width: 70px;
  height: 70px;
  padding: 15px;
  background-color: none;
  z-index: 3;
  position: relative;
  border-radius: 35px;
  border: none;
}

.instagram_thumbnail, .stackoverflow_thumbnail, .github_thumbnail {
  display: inline-block;
  vertical-align: top;
  width: 25vw;
  height: 20vw;
  margin: 0px 1vw;
  padding: 0;
  background-color: none;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top 0.3s;
}

.instagram_thumbnail:hover, .stackoverflow_thumbnail:hover, .github_thumbnail:hover {
  cursor: pointer;
  position: relative;
  top: 20px;
}

.social_img {
  height: calc(20vw - 40px);
  position: relative;
  z-index: 2;
}

.action {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  padding: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
  z-index: 2;
}

.action:hover {

}
