/* Header */

.header {
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  display: inline-block;
  background-color: #eeeeee;
  border-bottom: #dddddd solid 2px;
}

.homepage-link {
  width: 50%;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.home-link {
  margin-left: 25%;
  font-size: 20px;
  font-weight: bold;
  color: #555555;
  background-color: #efefef;
  text-decoration: none;
}

.home-link:hover {
  color: #077077;
  text-decoration: none;
}

.menu {
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
}

.header-menu {
  margin: 0 25% 0 0;
  padding: 0;
  display: inline;
  float: right;
  list-style-type: none;
}

.menu-item {
  text-decoration: none;
  float: right;
  padding: 0px 20px;
}

.menu-link {
  text-decoration: none;
  font-size: 20px;
  color: #555555;
}

.menu-link:hover {
  color: #077077;
  text-decoration: none;
  cursor: pointer;
}

.project-menu{
  max-height: 250px;
  position: absolute;
  display: block;
  z-index: 1;
  padding: 8px;
}

.project-menu-item{
  width: 100%;
  font-size: 20px;
  padding: 8px;
  background-color: #f5f5f5;
  color: #555555;
  border-bottom: #dddddd solid 2px;
  text-decoration: none;
}

.project-menu-item:hover{
  background-color: #dddddd;
  color: white;
  cursor: pointer;
}

a{
  text-decoration: none;
}
