*{
  margin: 0;
  padding: 0;
  font-family: arial;
}

/* Header */

.header {
  width: 100%;
  margin: 0;
  padding: 20px 0px;
  display: inline-block;
  background-color: #eeeeee;
  border-bottom: #dddddd solid 2px;
}

.homepage-link {
  width: 50%;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

.home-link {
  margin-left: 25%;
  font-weight: bold;
  color: #555555;
}

.menu {
  width: 50%;
  margin: 0;
  padding: 0;
  float: right;
}

.header-menu {
  margin: 0 25% 0 0;
  padding: 0;
  display: inline;
  float: right;
  list-style-type: none;
}

.menu-item {
  float: right;
  padding: 0px 20px;
  color: #555555;
  font-size: 20px;
}

.menu-link {
  text-decoration: none;
  color: #555555;
  font-size: 20px;
}

.menu-link:hover {
  color: #077077;
  cursor: pointer;
}

.project-menu{
  position: absolute;
  display: block;
  z-index: 1;
}

.project-menu-item{
  width: 100%;
  font-size: 20px;
  padding: 8px;
  background-color: #eeeeee;
  color: #555555;
  border-bottom: #dddddd solid 2px;
  border-left: #dddddd solid 2px;
  border-right: #dddddd solid 2px;
  text-decoration: none;
}

.project-menu-item:hover{
  background-color: #dddddd;
  color: white;
  cursor: pointer;
}

/* Footer */

.footer {
  margin-top: 2vh;
  padding: 2vh 0;
  width: 100%;
  background-color: #dddddd;
  box-shadow: inset 0 10px 10px -5px #555555;
}

.footer-item {
  padding: 5px 0;
  width: 100%;
  color: #555555;
  font-size: 1em;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: #555555;
}

.footer-link:hover {
  cursor: pointer;
  color: #077077;
}
